/*------fonts--------*/
/* playfair-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playfair-display-v37-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/playfair-display-v37-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/playfair-display-v37-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/work-sans-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*, *::after, *::before{
    box-sizing: border-box;
}
:root{
    --main-color: #A56C5B;
    --secondary-color: #8E9D92;
    --text-color: #2E2E2E;
    --white-color: #EDE6DB;
    --heading: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    --text: 'Work Sans', Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    background-color: var(--white-color);
}
/*-------texts------*/
h1 {
    font-family: var(--heading);
    font-weight: 900;
    color:var(--text-color);
    font-size: 6em;
}
h2, h3 {
    font-family: var(--heading);
    font-weight: 700;
    color:var(--text-color);
    font-size: 2.25em;
}
p, a {
    font-family: var(--text);
    color:var(--text-color);
}
/*-------nav------*/
nav {
    margin-right:20px;
    position: sticky;
    top:20px;
}
nav ul {
    display: flex; 
    list-style: none;
    justify-content: flex-end;
}
nav ul li a{
    color: var(--main-color);
    font-family: var(--heading);
    font-weight: 700;
    text-decoration: none;
    padding:20px 40px;
    font-size: 2em;
    border:1px solid black;
}
/*-------landing page / header------*/
header {
    display: flex;
    justify-content: center;
}
header h1 {
    align-self: center;
    margin-right: 350px;
}
header #profile-pic{
    width: 238px;
    transform: rotate(24deg);
    margin-top: -180px;
    margin-left: 80px;
    margin-right: auto;
}
/*-------projects------*/
#projects {
    background-image: url(./pictures/paperlike3.png);
}
#projects h2 {
    margin: 100px 185px;
    padding-top: 185px;
    font-size: 6em;
}
#project-cards{
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 16px;
grid-row-gap: 15px;
margin:100px 185px;
margin-bottom:0;
}
.project-card{
    margin-bottom: 50px;
}
.project-card img {
    width: 680px;
}
/*-------about------*/
#about {
    display: flex;
    background-image: url(./pictures/paperlike1.png);
    padding: 100px;
}
#about img{
    max-width: 500px;
    border-radius: 200px 0;
    border: 25px solid var(--secondary-color);
}
/*-------connect------*/
#contact{
    background-image: url(./pictures/paperlike2.png);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#contact h2 {
    margin-top:220px;
    margin-bottom:320px;
    font-size: 6em;
}

#contact #socials {
    padding-top: 330px;
}

#contact a {
    padding: 100px;
    margin: 50px;
    border-radius: 100%;
    background: var(--secondary-color);
}
/*-------footer------*/
footer {
    background: var(--secondary-color);
    padding: 100px;
}
footer h3 {
    margin-bottom:50px;
    color:var(--white-color)
}
footer a {
    color: var(--white-color);
    font-size: 1.4em;
}